@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');

$color: #404040;
$color-d: darken($color, 5%);
$color-l: lighten($color, 7.5%);
$color-sl: lighten($color, 80%);

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:before,
*:after {
  content: '';
  display: block;
  position: absolute;
}

html,
body {
  height: 100%;
}

body {
  font: 15px/1 'Open Sans', sans-serif;
  color: #777;
}

a {
  cursor: pointer;
}

ul {
  list-style: none;
}

.wrapper {
  display: flex;
  min-height: 100%;
}

nav {
  width: 200px;
  background: $color;

  header {
    position: relative;
    height: 80px;
    padding: 20px 0 0 15px;
    font-size: 16px;
    color: #fff;
    background: $color-d;

    a:before {
      content: '\f08b';
      font: normal 20px fontawesome;
      top: 28px;
      right: 15px;
    }

    span {
      position: relative;
      display: inline-block;
      width: 36px;
      height: 36px;
      margin: 0 10px 0 0;
      vertical-align: middle;
      &:before {
        content: '\f007';
        font: normal 20px fontawesome;
        top: 7px;
        left: 9px;
      }
    }
  }

  ul {
    span {
      display: block;
      padding: 15px;
      color: rgba(255, 255, 255, .5);
      text-transform: uppercase;
      border-bottom: 1px solid $color-d;
    }

    a {
      position: relative;
      display: block;
      padding: 15px 15px 17px 50px;
      color: #fff;
      border-bottom: 1px solid $color-d;
      font-size: 11px;

      &:hover,
      &.active {
        background: $color-l;
      }

      &:before {
        font: normal 16px fontawesome;
        top: 15px;
        left: 18px;
        content: '\f00a';
      }
    }
  }
}

main {
  flex: 1;
  padding: 25px;
  background: #f5f5f5;
  height: 100vh;

  h1 {
    height: 80px;
    margin: -25px -25px 25px -25px;
    padding: 0 25px;
    line-height: 76px;
    font-size: 24px;
    font-weight: 400;
    background: #ddd;
  }
}

.user-avatar {
  text-align: center;

  img {
    width: 50%;
  }
}

.user-name {
  text-align: center;
  color: $color-sl;
  font-size: 12px;
  padding: 1rem 0;
}

.flex-grid {
  display: flex;
}

.flex-grid {
  > div {
    flex: 1;
    margin: 0 20px 20px 0;
    padding: 15px;
    border: 1px solid #ddd;
    background: #fff;

    &:last-child {
      margin-right: 0;
    }
  }

  h2 {
    margin: -15px -15px 15px -15px;
    padding: 12px 15px;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 1px solid #ddd;
  }

  li {
    position: relative;
    margin: 0 0 10px;
    padding: 0 0 0 25px;

    &:before {
      content: '\f00c';
      font: normal 16px fontawesome;
      top: 0;
      left: 0;
      color: #999;
    }
  }
}

/*
** Media Queries
***********************************************************/

@media (max-width: 1000px) {
  .flex-grid {
    flex-direction: column;

    > div {
      margin-right: 0;
    }
  }
}
